# =========================
# Node / Angular
# =========================
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*

# =========================
# .NET
# =========================
bin/
obj/

# =========================
# Local datasets / seeds
# (temporary, will be replaced by pipeline)
# =========================
backend/DataPipeline/
# =========================
# Frontend mock data
# =========================
frontend/music-ui/src/assets/mock/

# =========================
# OS
# =========================
.DS_Store

# =========================
# IDE
# =========================
.vscode/
.vs/
.idea/

# =========================
# Data Pipeline
# =========================
datapipeline/
